.menu {
  width: 20rem;
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 50%;
  transform: translateY(-60%);
  left: 1vh;
}

.item {
  height: 3.7rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  left: -10%;
}

.title {
  font-size: 1rem;
  padding-right: 2.5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.item.active .title {
  font-size: 1.5rem;
}

.sub-container {
  width: 30rem;
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 24%;
  right: 15vh;
  cursor: pointer;
}

.active-subheading {
  cursor: default;
}

.item.active:nth-child(1) {
  background: linear-gradient(90deg, var(--transparent), var(--purple) 90%);
  border-radius: var(--radius-right);
}

.item.active:nth-child(2) {
  background: linear-gradient(90deg, var(--transparent), var(--blue) 90%);
  border-radius: var(--radius-right);
}

.item.active:nth-child(3) {
  background: linear-gradient(90deg, var(--transparent), var(--green) 90%);
  border-radius: var(--radius-right);
}

.sub-container-1.active-subheading h3,
.sub-container-2.active-subheading h3,
.sub-container-3.active-subheading h3 {
  border-radius: var(--radius-left);
}

.sub-container-1.active-subheading h3 {
  background: linear-gradient(90deg, var(--purple), var(--transparent) 90%);
}

.sub-container-2.active-subheading h3 {
  background: linear-gradient(90deg, var(--blue), var(--transparent) 90%);
}

.sub-container-3.active-subheading h3 {
  background: linear-gradient(90deg, var(--green), var(--transparent) 90%);
}

.item.active {
  position: relative;
  cursor: default;
}

.p-container {
  display: none;
  width: 350px;
  max-height: 150px;
  overflow: hidden;
}

.active-subheading .p-container {
  display: block;
  font-size: 1rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-left: 0.7rem;
  margin: 0;
  padding: 10px;
  margin-top: 10px;
}

.p-scroll {
  max-height: 150px; /* Adjust to your desired maximum height */
  overflow: hidden;
  position: relative;
}

.p-scroll::after {
  content: "..."; /* Display an ellipsis to indicate more content */
  position: absolute;
  bottom: 0;
  right: 0;
  background: linear-gradient(to right, transparent, #fff 50%);
  padding: 0 10px; /* Adjust padding as needed */
  cursor: pointer; /* Add a pointer cursor to indicate it's clickable */
}

.p-scroll.expanded {
  max-height: 150px; /* Remove the maximum height for expanded content */
}

/* CSS for enabling scrolling when content exceeds the height */
.scrollable-content {
  max-height: 150px; /* Set your desired maximum height */
  overflow-y: auto;
}

.icon-title-container {
  display: flex;
  gap: 1.2rem;
  margin-bottom: 0.5rem;
  cursor: default;
}

.icon {
  width: 3rem;
  height: 3rem;
}

.sub-container-1 h3,
.sub-container-2 h3,
.sub-container-3 h3 {
  position: relative;
  margin: 0.2rem 0;
  padding: 0.5rem 0 0.5rem 1rem;
}

@media (max-height: 1500px) and (max-width: 1100px) {
  .sub-container {
    right: 1rem;
  }
  .item.active .title {
    font-size: 1rem;
  }
  .item {
    height: 2rem;
  }
  .p-container {
    display: none;
    width: 200px;
    max-height: 20px;
    overflow: hidden;
  }

  .active-subheading .p-container {
    display: block;
    font-size: 0.5rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    margin-left: 0rem;
    margin: 0;
    padding: 5px;
    margin-top: 5px;
  }
  .p-scroll {
    max-height: 25px; /* Adjust to your desired maximum height */
    overflow: hidden;
    position: relative;
  }

  .p-scroll::after {
    content: "..."; /* Display an ellipsis to indicate more content */
    position: absolute;
    bottom: 0;
    right: 0;
    background: linear-gradient(to right, transparent, #fff 50%);
    padding: 0 10px; /* Adjust padding as needed */
    cursor: pointer; /* Add a pointer cursor to indicate it's clickable */
  }

  .p-scroll.expanded {
    max-height: 25px; /* Remove the maximum height for expanded content */
  }

  /* CSS for enabling scrolling when content exceeds the height */
  .scrollable-content {
    max-height: 90px; /* Set your desired maximum height */
    overflow-y: auto;
  }
}

@media (max-height: 1500px) and (max-width: 1150px) {
  .menu {
    width: 8rem;
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 70%;
    transform: translateX(100%);
    transform: translateY(-27%);
    left: 50%;
  }
  .sub-container {
    width: 20rem;
    top: 25%;
    left: 5%;
    transform: translateX(100%);
    transform: translateY(5%);
  }
  .title {
    font-size: 0.7rem;
    padding-right: .4rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }
  .active-subheading .p-container {
    font-size: 0.8rem;
  }
  .icon-title-container,
  .icon {
    display: none;
  }
  h1 {
    font-size: 0.7rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }
  h2,
  h3,
  p {
    font-size: 0.7rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }
}
